<button [ngClass]="{'button-auth': authStatus$ | async}"
        (click)="toggleMenu = !toggleMenu"
        mat-icon-button>
    @if(toggleMenu){
        <mat-icon>close</mat-icon>
    }@else {
        <mat-icon>menu</mat-icon>
    }

</button>
@if(toggleMenu){
    <div class="menu-window">
        <div class="menu-list">
            <a class="item"
            routerLink="/community"
            [routerLinkActiveOptions]="{exact: true}"
            routerLinkActive="item-active">Example</a>
        </div>
    </div>
}
