@use "@angular/material" as mat;
@use "../../partials/variables" as var;

$body-level: mat.define-typography-level(
    $font-family: var.$font-family,
    $font-size: 16px,
    $line-height: 24px
);
$button-level: mat.define-typography-level(
    $font-family: var.$font-family,
    $font-size: 16px,
    $line-height: 24px,
    $font-weight: 500
);
$caption-level: mat.define-typography-level(
    $font-family: var.$font-family,
    $font-size: 12px,
    $line-height: 20px,
    $font-weight: 400
);

$my-typography: mat.define-typography-config(
    $body-1: $body-level,
    $body-2: $body-level,
    $subtitle-1: $body-level,
    $subtitle-2: $body-level,
    $caption: $caption-level,
    $button: $button-level,
    $headline-6:
        mat.define-typography-level(
            $font-family: var.$font-family,
            $font-size: 20px,
            $line-height: 28px,
            $font-weight: 500,
            $letter-spacing: 0.15px
        )
);
