$primary-50: #E1EDF4;
$primary-100: #C2DAE8;
$primary-200: #A4C7DC;
$primary-300: #86B4D0;
$primary-400: #6891BF;
$primary-500: #4A6EAE;
$primary-600: #3C5A8F;
$primary: #2E4670;
$primary-800: #202C51;
$primary-900: #111730;

$accent-50: #E6F0F8;
$accent-100: #CCE1F0;
$accent-200: #99C3E1;
$accent-300: #66A5D3;
$accent-400: #3387C4;
$accent: #0069B6;
$accent-600: #005496;
$accent-700: #004376;
$accent-800: #002F56;
$accent-900: #001B36;

$tertiary-50: #F5F5F5;
$tertiary-100: #E8E8E8;
$tertiary-200: #D6D6D6;
$tertiary-300: #C6C6C6;
$tertiary-400: #ACACAC;
$tertiary-500: #949393;
$tertiary-600: #7E7D7D;
$tertiary-700: #686767;
$tertiary-800: #5B5B5F;
$tertiary-900: #464646;

$warn-50: #f7e1e4;
$warn-100: #ebb5bc;
$warn-200: #de848f;
$warn-300: #d05262;
$warn-400: #c62d40;
$warn: #bc081e;
$warn-600: #b6071a;
$warn-700: #ad0616;
$warn-800: #a50412;
$warn-900: #97020a;