@use "../partials/palette";

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background: palette.$tertiary-100;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: palette.$tertiary-200;
}
