@import "common";

a.helpLink,
button#cancel,
button.sendNewCode,
button.changeClaims {
    display: none !important;
}

.have-account,
button.sendCode,
button.verifyCode {
    margin-top: 40px;
}

.error.itemLevel.show {
    margin-left: 18px;
    margin-top: 51px;
    position: absolute;
}

div#emailVerificationControl_success_message {
    max-width: 350px;
    word-wrap: break-word;
    margin: auto;
    display: block !important;
}

.TextBox.emailVerificationCode_li.VerificationCode {
    .error.itemLevel.show {
        margin-left: 18px;
        margin-top: 52px;
        position: absolute;
    }
}

div#emailVerificationControl_success_message,
div#emailVerificationControl_error_message {
    margin-bottom: 40px;
}

div#emailVerificationControl_error_message {
    display: block !important;
}

.hide-continue {
    display: none !important;
}

.visibleContinue {
    display: block !important;
}
